<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ticked_Off_Vet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ticked_Off_Vet.My.MySettings.tickedoffConnectionString"
            connectionString="server=db.shapirohousehold.com;user id=tickedoff;password=tickedoff;persistsecurityinfo=True;database=tickedoff"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Ticked_Off_Vet.My.MySettings>
            <setting name="DropDownDirection" serializeAs="String">
                <value>BelowRight</value>
            </setting>
        </Ticked_Off_Vet.My.MySettings>
    </userSettings>
</configuration>